

/*emmy */

.competences {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0/4;
  gap: 0px 0px;
  border: solid;
  border-color: burlywood;
}

.front {
  grid-row: initial;
  margin: 25px;
  background-color: burlywood;
  width: 300px;
  text-align: center;
  color:white;
  padding: 15px;
}

.back {
  grid-row: initial;
  margin: 25px;
  background-color: burlywood;
  width: 300px;
  text-align: center;
  color:white;
  padding: 15px;
}

.boite {
  grid-row: initial;
  margin: 25px;
  background-color: burlywood;
  width: 300px;
  text-align: center;
  color: white;
  padding:15px;
}
.fa-brands{
  grid:row;
  grid:column;
  color:white;
  size: 10px;
}


/* fin de la partie compétence */