 *{
  outline: none;
  box-sizing: border-box;
} 

body{
    font-family: "Open Sans";
    display: grid;
    row-gap: 20px;
}

/* !!!!!!!!!!!!!! SYRINE header !!!!!!!!!!!!!! */

header {
  background-color: #d6ccc2;
  color: white;
  padding: 10px 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.containerr  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img{
  width: 100px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
}
/* !!!!!!!!!!!!!! SYRINE header NAVIGATEUR !!!!!!!!!!!!!! */

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#espace {
  word-spacing: 20px;
  
}

nav a:hover {
  text-decoration: underline;
}
/* !!!!!!!!!!!!!! SYRINE header NAVIGATEUR !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!! SYRINE header FORMULAIRE DE CONTACT !!!!!!!!!!!!!! */

#maphoto {
  width: 10%;

}

.form-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a98467;
  border-radius: 5px;
  display: grid;
}
#maphoto{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.controls{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input, .form-group textarea {
  width: 50%%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-primary {
  color: #a98467
}
.btn-send {
  background-color: #a98467;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-send button:hover {
  background-color: #ccc;
}


#contactForm h2 {
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    background-color: #a98467;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #a98467;
} 

/* !!!!!!!!!!!!!! SYRINE header FORMULAIRE DE CONTACT !!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!! SYRINE footer !!!!!!!!!!!!!! */

footer {
  background-color: #d6ccc2;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Newsletter !!!!!!!!!!!!!! */

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 5px;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #F5EBE1;;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

.newsletter-form button:hover {
  background-color: #a98467;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Newsletter !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!! SYRINE FOOTER Mentions légales !!!!!!!!!!!!!! */

.mentions-legales {
  margin-top: 20px;
  font-size: 12px;
}

.mentions-legales strong {
  font-weight: bold;
}

.mentions-legales a {
  color: white;
  text-decoration: none;
}

.mentions-legales a:hover {
  text-decoration: underline;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Mentions légales !!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!! SYRINE FOOTER Réseaux sociaux  !!!!!!!!!!!!!! */

.social-media {
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.social-media a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #a98467;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Réseaux sociaux  !!!!!!!!!!!!!! */
